node_modules

/contact-organizer-app/build


.DS_Store
/contact-organizer-app/.env.local
/contact-organizer-app/.env.development.local
/contact-organizer-app/.env.test.local
/contact-organizer-app/.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*